/* 全局控制 */
*{
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}
/* body设置背景壁纸 */
body{
    background: url(./壁纸/壁纸\ \(4\).jpeg);
    background-size: 100%;
}
p{
    word-break: break-all;
}
/* wrapper层 */
.wrapper{
    margin: 10px auto;
    width: 1100px;
    height: 660px;
    border-radius: 30px;
    border: 1px ridge rgba(219, 219, 219, 0.551);
}
/* header层--头部标题 */
.header{
    margin: 10px 20px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    border-radius: 30px;
}
.mainbody{
    margin: 20px;
    padding: 20px;
    height: 220px;
    font-size: 30px;
    border-radius: 30px;
    text-align: center;
}